{% extends './layout.html.twig' %}
{% block nav %}
    <li><a href="./index.html">Home</a></li>
    <li><a href="./assets.html">Assets</a></li>
    <li><a href="./chunks.html">Chunks</a></li>
    <li><a href="./modules.html">Modules</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Overview</h1>
        <table>
            <tbody>
            <tr>
                <th>Webpack version</th>
                <td>{{ version }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ time }} ms</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ hash }}</td>
            </tr>
            <tr>
                <th>Warnings</th>
                <td>{{ warnings|length == 1 ? "1 warning" : warnings|length ~ " warnings" }}</td>
            </tr>
            <tr>
                <th>Errors</th>
                <td>{{ errors|length == 1 ? "1 error" : errors|length ~ " errors" }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
